<html>
<head>
    <meta charset="UTF-8">
    <title>SOS Golpes - Página de Perfil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="barra-navegacao">
        <div class="recipiente conteudo-navegacao">
            <h1 class="logotipo">SOS<span>Golpes</span></h1>
            <ul class="links-navegacao" id="menuNavegacao">
            </ul>
        </div>
    </nav>
    <main class="recipiente">
        <section class="secao-perfil">
            <div class="cabecalho-secao">
                <h2>Perfil</h2>
            </div>
            <div class="cartao cartao-perfil" id="perfilUser">
            </div>
            <form id="formularioEdicaoPerfil" style="display: none;">
                <div class="cartao cartao-formulario">
                    <div class="grupo-formulario">
                        <label for="nomeEditInput"> Nome: </label>
                        <div class="envoltorio-entrada">
                            <input type="text" id="nomeEditInput" name="nome" required>
                        </div>
                        <label for="sobrenomeEditInput"> Sobrenome: </label>
                        <div class="envoltorio-entrada">
                            <input type="text" id="sobrenomeEditInput" name="sobrenome" required>
                        </div>
                    </div>

                    <button type="submit" id="btnEdicaoPerfil" class="botao botao-primario">
                        Confirmar Edição
                    </button>
                </div>
            </form>
        </section>
    </main>
    <script src="/js/nav_bar.js"></script>
    <script src="/js/user_profile.js"></script>
</body>
</html>