<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário - SOS Golpes</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="barra-navegacao">
        <div class="recipiente conteudo-navegacao">
            <h1 class="logotipo">SOS<span>Golpes</span></h1>
            <ul class="links-navegacao">
                <li><a href="link_analysis.html" class="ativo">Analisar Link</a></li>
                <li><a href="password_checker.html">Auditoria de Senha</a></li>
                <li><a href="history.html">Meu Historico</a></li>
            </ul>
        </div>
    </nav>

    <main class="recipiente">
        <section class="secao-login">
            <div class="cabecalho-secao">
                <h2>Cadastro</h2>
            </div>

            <div class="cartao cartao-formulario">
                <form id="formularioCadastro">
                    <div class="grupo-formulario">
                        <label for="emailInput">E-mail:</label>
                        <div class="envoltorio-entrada">
                            <input type="text" id="emailInput" name="email" placeholder="Ex.: gustavokawano@email.com" required>
                        </div>
                        <label for="nameInput">Nome Completo:</label>
                        <div class="envoltorio-entrada">
                            <input type="text" id="nameInput" name="name" placeholder="Ex.: Gustavo Kawano" required>
                        </div>
                        <label for="passwordInput">Senha:</label>
                        <div class="envoltorio-entrada">
                            <input type="password" id="passwordInput" name="password" placeholder="Senha" required>
                        </div>
                        <label for="confirmPasswordInput">Confirmar Senha:</label>
                        <div class="envoltorio-entrada">
                            <input type="password" id="confirmPasswordInput" name="confirmPassword" placeholder="Confirmar Senha" required>
                        </div>
                    </div>

                    <button type="submit" id="btnRegister" class="botao botao-primario">
                        Cadastrar
                    </button>
                </form>
            </div>
        </section>
    </main>

    <footer class="rodape">
        <div class="recipiente">
            <p>&copy; 2026 SOS Golpes. Projeto de Utilidade Social.</p>
        </div>
    </footer>

    <script src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js"></script>
    <script src="/static/js/register.js"></script>
</body>
</html>
